{{ define "header"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD table</title>
    <style>
        .btn {
         display: inline-block; /* Строчно-блочный элемент */
         background: #8C959D; /* Серый цвет фона */
         color: #fff; /* Белый цвет текста */
         padding: 0.5rem 0.5rem; /* Поля вокруг текста */
         text-decoration: none; /* Убираем подчёркивание */
         border-radius: 3px; /* Скругляем уголки */
        }
        .frm {
            display: inline-block;
        }
       </style>
</head>
<body>
    <!-- <p>header подключен</p> -->
{{ end }}